.main {
    background: #F2FAFA;
    position: relative;
    height: 70vh;
    width: 100vw;

}

.picture {
    position: absolute;
    top: 0;
    right: 0;
    @media (max-width: $breakpoint1550) {
        transform: scale(.8,.8);
        right: -55px;
    }
    @media (max-width: $breakpoint1180) {
        transform: scale(.6,.6);
        right: -125px;
    }
    @media (max-width: $breakpoint769) {
        transform: scale(.4,.4);
        right: -185px;
    }
    @media (max-width: $breakpoint540) {
        display: none;
    }
}
.main__content {
    max-width: 1250px;
    margin: 0 auto;

}

.content__title {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    line-height: 97px;
    color: #252525;
    max-width: 700px;
    padding-top: 60px;
    @media (max-width: $breakpoint1180) {
        font-size: 45px;
        max-width: 400px;
    }
    // span{
    //     &:hover{
    //         font-size: 68px;
    //     }
    // }
}

.content__subtitle {
    font-family: Poppins;
    font-size: 24px;
    line-height: 36px;
    color: #252525;
    opacity: 0.6;
    margin-top: 20px;
    @media (max-width: $breakpoint1180) {
       font-size: 19px;
    }
    @media (max-width: $breakpoint992) {
        max-width: 500px;
    }
}

.content__btn {
    margin-top: 60px;
    padding: 16px 20px;
    background: #1E88E5;
    border-radius: 10px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    &:hover{
        background: #0472d1;
        transition: .6s all ease;
        box-shadow: 5px 5px 8px rgba(0,0,0,.6);
    }

    &:active{
        position: relative;
        transition: .6s all ease;
        box-shadow: none;
        top: 2px;
        left: 2px;
    }
    @media (max-width: $breakpoint1180) {
        padding: 10px 16px;
     }
     @media (max-width: $breakpoint992) {
         padding: 10px 12px; 
     }
     @media (max-width: $breakpoint540) {
        margin-left: 30px;
        
    }
 }


.search {
    width: 420px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding-top: 5px;
    margin-left: 30px;
    padding-left: 40px;
    &:focus{
        outline: none;
        border: 2px solid ;
        box-shadow: 12px 12px 2px 1px #1E88E5;
        opacity: .6;
        transition: .8s all ease;
        
        padding-left: 40px;
        font-size: 20px;
    }
    @media (max-width: $breakpoint1180) {
        width: 420px;
        height: 70px;
     }
     @media (max-width: $breakpoint992) {
        width: 320px;
        height: 70px;
     }
     @media (max-width: $breakpoint540) {
        margin-top: 20px;
        
    }


}
.icon__search {
    position: relative;
    border: 1px solid #1E88E5;
    border-radius: 100%;
    background: #1E88E5;
    right: 60px;
    top: 5px;
    padding-top: 15px;
    padding-left: 8px;
    padding-right: 4px;
    padding-bottom: 2px;
    @media (max-width: $breakpoint540) {
        top: 5px;
        
    }
    

    image{
        transform: scale(.8,.8);
        @media (max-width: $breakpoint540) {
            margin-top: 20px;
            
        }
    }

}

.first{
    &:hover{
        cursor: pointer;
        font-size: 70px;
        transition: .6s all ease;
    }
}